.app-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	grid-template-areas:
	"header header"
	"nav content"
}
.header {
	grid-area: header;
	background-color: green;
}
.header img {
	width: 100px;
}
.nav {
	grid-area: nav;
	background-color: rgb(9, 81, 97);
}
.content {
	grid-area: content;
	background-color: rgb(187, 78, 5);
}
.content img {
	max-width: 100%;
}
